body {
    text-align: center;
    

}
div.display {
    /* background-color: red; */
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
div.controls {
    /* background-color: red; */
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 300px;
    height: 500px;
    border: 1px solid black;
}

